@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --primary-color: #A85CF9;
  --secondary-color: rgb(36, 36, 36);
  --bg-dark-grey: rgb(61, 61, 61);
  --bg-white: #fff;
  --grey-color: rgb(154, 154, 154);

  /* Text color  */
  --primary-font: 'Poppins', sans-serif;
  --primary-text: #A85CF9;
  --text-grey: #777678;
  --text-white: #fff;

}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
  margin: 0;
  padding: 0;
}

.header_wrapper .navbar {

  padding: 5px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background-color: var(--bg-white);
}

.header_wrapper .navbar-brand img {

  height: auto;

}

.header_wrapper .navbar-toggler i {
  border: 0;
  color: rgb(158, 151, 151);
  line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper a {
  margin: 0px 10px;
}

.header_wrapper a {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-grey);
  display: inline-block;
  padding-bottom: 0;
}

.header_wrapper .nav-item a::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s;
  bottom: 0;

}

.header_wrapper .nav-item .nav-link:active::after,
.header_wrapper .nav-item .nav-link:hover::after {
  width: 100%;
}

.header_wrapper .nav-item .nav-link:active,
.header_wrapper .nav-item .nav-link:hover {
  color: black;
}



.login-button {
  padding: 5px;
  margin: 5px;

}

.login-button {
  display: inline-block;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid var(--grey-color);
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}


.login-button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
}
.con{
  width: 100%;
  height: 100vh;
  background-color: var(--text-grey);
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: var(--bg-white);
position: relative;
}
.footer-cta {
border-bottom: 3px solid black;
}
.single-cta i {
color: var(--primary-color);
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: black;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: black;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: var(--primary-color);
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: var(--primary-color);
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--primary-color);
  padding: 13px 20px;
  border: 1px solid --primary-color;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: var(--primary-color);
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: black;
}
.copyright-text p a{
color: var(--text-grey);
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: var(--primary-color);
}
.footer-menu li a {
font-size: 14px;
color: var(--text-grey);
}


.banner_wrapper{
  width: 100%;
  height: auto;
  min-height: 1000px;
  background-image: url(../images/Online\ learning-pana.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 650px;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
}


h1{
  font-size: 54px;
  line-height: 60px;
  font-weight: 800;
  color: var(--primary-text);
  margin-bottom: 20px;
}
p{
  color: var(--text-grey);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

.main-btn {
  display: inline-block;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid var(--grey-color);
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.main-btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color)
  ;
  color: var(--text-white);
}


.header_wrapper .menu-navbar-nav{
  text-align: center;

  padding-bottom: 15px;
}
.main-btn {
  display: inline-block;
  border-radius: 50px;
  transition:all .4s ease-in-out ;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid var(--grey-color);
  color: var(--text-grey);
  font-weight:500 ;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.main-btn:hover {

  background-color: var(--primary-color);
  border-color: var(--primary-color)
  ;
  color: var(--text-white);

}

.banner_wrapper{
  width: 100%;
  height: auto;
  min-height: 650px;
  background-image: url(../images/4905784.jpg);
  opacity: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
}
.banner_wrapper span img{
  display: inline;
  width: 650px;
  margin-left: 500px;
  margin-right: 20px;

}

.banner_wrapper span{
  opacity: 100%;

}